<tr>
  <th scope="row"><%= image_tag 'cat.jpg', size: '30x30' %></th>
  <td>Username</td>
  <td>2015-05-22</td>
  <td class="text-right">
    <a href="" data-toggle="tooltip" data-placement="top" title="Get Email"><i class="fa fa fa-envelope"></i></a>
    <%= link_to delete_friendship_path(friend_id: match.id), :data => {toggle: 'tooltip', placement: 'top', confirm: "Are you sure you want to unmatch with #{match.name}?" }, title: 'Unmatch', id: 'delete_friendship', method: :delete  do %>
        <i class="fa fa-times"></i>
    <% end %>
  </td>
</tr>